---
import MainLayout from "../layouts/MainLayout.astro";
// Esto de ac치 es solo renderizado en el servidor.
const name = "Juan Pablo";
---

<MainLayout title="P치gina principal | Curso de Astro">
  <p>
    Este es un `proyecto de prueba' para poner en pr치ctica Astro. Soy <span
      >{name}</span>
	Esta es la p치gina principal.
  </p>

  <!-- Prueba de javascript en astro y client side rendering -->

  <p>Momento actual: {new Date().toLocaleTimeString()}</p>
  <p id="current-time">Momento actual real:</p>
</MainLayout>
